<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12 bg-primary">
      <app-header></app-header> <!-- Navbar -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 p-0">
      <div class="sidebar-wrapper">
        <app-show-users></app-show-users> <!-- Sidebar -->
      </div>
    </div>
    <div class="col-md-9 p-0">
      <div class="message-box-wrapper">
        <app-message-box></app-message-box> <!-- Message Box -->
      </div>
    </div>
  </div>
</div>
